@model int

<div class="text-center">
    <h1 class="text-info pt-4">Confirmation confirm.</h1>
    <h4 class="text-warning pb-3">Order Id - @Model</h4>
    <img src="/images/order.PNG" width="80%"/>
</div>
